# JWT Configuration
JWT_SECRET_KEY=your-secret
JWT_EXPIRATION_HOURS=300

# Database Configuration(app uses sqlite)
DATABASE_URL=sqlite:///stms.db

# Other environment-specific settings
FLASK_ENV=development
FLASK_DEBUG=True